@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

*{
    margin:0;
    padding:0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    line-height: 1.5;
}

header{
    background-color: rgb(255, 255, 255);
        .listaNav{
            list-style: none;
            text-align: center;
            margin-bottom: 5px;
            .listaItem{
                display: inline;
                text-align: center;
                .linkNav{
                    padding: 50px;  
            }
        }
    }
}

.white{
    color: white;
}

.black{
    color: black;
}

.logoIndex{
    margin:15px 0px 10px 840px;
    width: 180px;
}

.hrindex{
    width: 1000px;
    color: #00000017;
    margin: 0px 0px 10px 420px;
}

main{
    background-color: rgb(249, 249, 249);
        .seccionPrincipal{
            background-image: url("../assets/img/Principal.jpg");
            background-size: cover;
            background-position: center;
            background-attachment: fixed;
            width: 100%;
            height: 50vh;
            .modelofoto{
                text-align: center;
                font-size: 50px;
                padding: 100px;
                margin-left: 40px;
        }
    }
}

.linkGaleriaIndex{
    box-sizing: content-box;
    display: inline-block;
    background-color: #97111100;
    width:110px;
    color:white;
    border:2.5px solid white;
    text-align: center;
    padding:3px;
    margin:10px 0px 0px 865px;
}

.seccionDestacadas{
    width:90%;
    margin: auto;
    .tituloSeccionDestacadas{
        text-align: center;
        font-size: 2rem;
        margin-top: 15px;
    }
}

.destacadasIndex{
        display:inline-block;
        text-align: center;
        background-color: #a11d1d;
        padding-bottom: 110px;
        height:100px;   
        margin: 20px 0px 18px 20px;
}

.imgDestacada{
    width:800px;
}

.hr{
    width: 800px;
    margin-left: 450px;
}

.txtnovedadesIndex{
    font-size: 2rem;
    text-align: left;
    margin: 10px 0px 0px 20px;
}

.vmtxt{
    text-align: right;
    font-size: 1rem;
    color: #363636;
    margin: 0px 40px 0px 20px
}

.novedadesIndex{
    background-color: rgb(255, 255, 255);
    display: inline-block;
    text-align: center;
    width: 300px;
    height: 260px;
    padding: 50px 00px 00px 00px;
    margin:0px 0px 0px 90px;
}

.Imgnov{
    text-align: center;
    width: 270px;
    height:172px;
    object-fit: contain;
    object-fit: cover;
}

footer{
    background-color: #363636;
}

.logofooter{
    text-align: left;
    width:150px;
    margin: 10px 0px 0px 20px;
    }

.encontranos{
    text-align: left;
    font-size: 1rem;
}

.fonts40{
    font-size: 40px
}

.txtnavegacion{
    text-align: center;
    font-size: 1.5rem;
}

.navfooter{
            display: flex;
            list-style: none;
            text-align: center;
            justify-content: space-around;
            margin:30px 0px
}


.mleft{
    margin-left: 20px;
}

.txtnodeco{
    text-decoration: none;
}

.infooter{
    margin: 0px 0px 30px 20px;
    list-style: none;
}

.txtmapa{
    margin:30px 0px 0px 20px;
}

.txtfooter{
    text-align: center;
    font-size: 13px;
    padding-bottom: 20px;
    .noclass{
        color:rgb(255, 255, 255);
}
}

.negrita{
    font-weight: bold;
}