@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

*{
    margin:0;
    padding:0;
}

.white{
    color: white;
}

.black{
    color: black;
}

.red{
    color: #ca1f1f;
}

.fs-13px{
    font-size: 13px;
}

.font-h1{
    font-size: 4rem;
}

.btn-outline-red{
    color: #ca1f1f;
    border-color: #ca1f1f;
}

.bg-red{
    background-color: #a11d1d;
}

.w-95{
    width: 95%;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: rgb(249, 249, 249);
    color: black;
}

.logo-w{
    width: 180px;
}

.video-size{
width:1000;
height:315;
}

.background-image{
    background-image: url("../assets/img/principal.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    height: 60vh;
}

.background-image-2{
    background-image: url("../assets/img/catalogo.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    height: 60vh;
}

.background-image-3{
    background-image: url("../assets/img/noticias.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    height: 60vh;
}

.background-image-4{
    background-image: url("../assets/img/comunidad.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    height: 60vh;
}

.background-image-5{
    background-image: url("../assets/img/galeria.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    height: 60vh;
}

.background{
    background: rgba(255, 255, 255, 0.226);
}

.modelofoto{
    text-align: center;
    font-size: 50px;
}

.imgDestacada{
    width:800px;
}


.imagen-noticia{
    background-image: url("../assets/img/noticia-aj4bred.jpg");
    background-size: 23%;
    background-position: center;
    background-attachment: fixed;
    width:350px; 
    height:450px;
}


footer{
    background-color: #1b1b1b;
}

@media (min-width: 992px) {
    .iframe-video {
      width: 1000px;
      height: 315px;
  }
}

@media (max-width: 767px) {
    .background-image {
        height: 50vh;
        background-attachment: scroll;
    }
    .background-image-2 {
        height: 50vh;
        background-attachment: scroll;
    }
    .background-image-3 {
        height: 50vh;
        background-attachment: scroll;
    }
    .background-image-4 {
        height: 50vh;
        background-attachment: scroll;
    }
    .background-image-5 {
        height: 50vh;
        background-attachment: scroll;
    }
}