/*Definicion de tramaños*/
$t-95por: 95%;
$t-100por: 100%;
$t-13px: 13px;
$t-4rem: 4rem;
$t-180px: 180px;
$t-315px: 315px;
$t-800px: 800px;
$t-1000px: 1000px;
$t-50vh: 50vh;
$t-60vh: 60vh;

/*Mapa de colores*/
$colores: (bgred:#a11d1d, colorfooter:#1b1b1b, bgcatalogo:rgba(255, 255, 255, 0.226), rojo:#ca1f1f, negro:black, blanco:white);

/*Animaciones*/
.box{
    transition: transform 0.2s ease;
    &:hover{
        transform: scale(1.1);
        &:active {
            transform: scale(0.9);
        }
    }
}

@keyframes changeColor{
    0%{
        color: black;
    }
    25%{
        color: red;
    }
    50%{
        color: white;
    }
    75%{
        color: red;
    }
    100%{
        color: black;
    }
}
.txt-color-animation{
    animation: changeColor 8s infinite;
}

/*Configuracion galeria*/
.section-galeria{
    display: flex;
    width: 1000px;
    height: 500px;
    .img-galeria{
        width: 0px;
        flex-grow: 1;
        object-fit: cover;
        opacity: .8;
        transition: .5s ease;
      }
      .img-galeria:hover{
        cursor: crosshair;
        width: 200px;
        opacity: 1;
        filter: contrast(120%);
      }
  }
  